
@{
    ViewBag.Title = "Test";
}

<p>學號:410818556</p>
<p>姓名:張斯涵</p>


@{ string[] fruits = {"蘋果", "香蕉", "荔枝", "鳳梨", "西瓜" };
}

    @for (int i = 0; i < 5; i++)
    {
        <ol>
        @i: @fruits[@i];
        </ol>
    }
   
</ol>